.button {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px gray;
    display: inline;
    width: 8rem;
    margin: 5px;
    border: none;
    background-color: rgb(186, 224, 218);
    color: rgb(0, 97, 114);
    font-weight: bold;
}

.button:hover{
    background-color: rgb(0, 97, 114);
    color: white;
}

.button:disabled{
    background-color: lightgrey;
    color: white;
}