.button {
    padding: 10px;
    display: inline;
    width: 8rem;
    margin: 5px;
    border: solid 2px rgb(27, 57, 133);
    color: rgb(27, 57, 133);
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}

.button:hover{
    background-color: rgb(27, 57, 133);
    color: white;
}

.button:disabled{
    background-color: lightgrey;
    color: white;
}