.card{
    display: flex;
    color: white;
    margin-left: 5rem;
    margin-right: 5rem;
}

.card img{
    width: 100%;
}


.leftColumn{
    float: left;
    width: 60%;
    margin: 1rem;
}

.smallLeftColumn{
    float: left;
    width: 40%;
    line-height: 100%;
    margin: 1rem;
}

.rightColumn{
    float: right;
    width: 40%;
    margin: 1rem;

}

.smallRightColumn{
    float: right;
    width: 60%;
    margin: 1rem;
}

@media (max-width: 900px) {
    .card{
        display: block;
        margin: 0;
    }

    .card div{
        width: 100%;
        margin: 0;
    }
}