.card{
    display: flex;
    color: white;
    margin-left: 5rem;
    margin-right: 5rem;
}

.card img{
    margin-left: auto;
    margin-right: auto;
}

.card img{
    width: 100%;
}


.leftColumn{
    float: left;
    width: 50%;
    margin: 1rem;
}

.rightColumn{
    float: right;
    width: 50%;
    margin: 1rem;
}

@media (max-width: 900px) {
    .card{
        display: block;
        margin: 0;
    }

    .card div{
        width: 100%;
        margin: 0;
    }
}