.question{
    padding: 1rem;
    padding-bottom: 2rem;
    vertical-align: middle;
}

.question-left{
    font-size: large;
}

.question-right{
    text-align: center;
}

@media (min-width: 768px) {
    .question-left{
        float: left;
        width: 60%;
    }
    
    .question-right{
        float: right;
        width: 40%;
    }
}
