.surveyDetails{
    width: 60%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1rem;
    color: rgb(0, 88, 104);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: white;
}

.surveyDetails ul{
    height: 75%;
    margin-left: -1rem;
    overflow: scroll;
}

.surveyDetails li{
    margin: 1rem;
}

.surveyHeader {
    border-top: rgb(230, 230, 230) dotted 20px;
    color: gray;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.inactiveBtn{
    text-align: center;
    left: 25%;
    right: 25%;
}

ul{
    list-style: none;
}

@media (max-width: 1100px) {
    .surveyDetails{
        width: 100%;
    }

    .inactiveBtn{
        position: fixed;
        bottom: 2rem;
        left: 0%;
        right: 0%;
    }
}