.question{
    padding: 1rem;
    padding-bottom: 2rem;
    vertical-align: middle;
}

.questionLeft{
    font-size: large;
}

.questionRight{
    text-align: center;
}

@media (min-width: 768px) {
    .questionLeft{
        float: left;
        width: 60%;
    }
    
    .questionRight{
        float: right;
        width: 40%;
    }
}
