.surveyLink{
    padding: 1rem;
    background-color: rgb(229, 255, 246);
    border-radius: 10px;
    color: rgb(0, 88, 104);
    position: relative;
}

.copy{
    position: absolute;
    right: 10px;
    margin-left: 20px;
    font-size: small;
    color: rgb(24, 188, 218);    
}

.copy:hover{
    color: rgb(0, 88, 104);
    cursor: grabbing;
}

.copy img:active{
    width: 2rem;
}

.qrCode{
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: url('../../media/scan-me.png');
    background-size:100% 100%;
}

.QRCode{
    margin-top: 2rem;
    z-index: 100;
}

.download{
    text-align: center;
    margin: 1rem;
}

.download button{
    background-color: white;
    padding: 10px;
    border: rgb(0, 97, 114) solid 1px;
    color: rgb(0, 97, 114);
}
