.header{
    width: 100%;
    display: flex;
    /* background-color: rgb(82, 253, 225); */
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}

.menuIcon{
    margin-right: 1rem;
}

.menuNav{
    position: absolute;
    right: 0;
    list-style: none;
    background-color: rgb(165, 171, 248);
    padding-left: 0;
    z-index: 10;
}

.menuNav li{
    padding: 0.5rem;
}

.nav{
    list-style: none;
    display: flex;
}

.nav li{
    margin-right: 2rem;
    margin-top: 20px;
}

.header a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color: rgb(24, 188, 218);
}

@media (max-width: 675px) {
    .header{
        padding: 0 0%;
    }

    .nav li{
        margin-right: 1rem;
    }
}
