body {
  margin: 0 !important;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(240, 71%, 15%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}
.form-group{
  margin: 1rem;
}
.form-input{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  outline: none;
  font-size: medium;
  border: grey solid 0.5px;
  border-radius: 5px;
  box-sizing: border-box;
}
