.account{
    background-color: white;
    width: 60%;
    box-shadow: 0px 2px 4px 0px gray;
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.category{
    margin: 1rem;
    padding: 1rem;
    color: rgb(0, 88, 104);
    border: rgb(0, 88, 104) solid 1px;
    font-size:x-large;
    font-stretch:ultra-expanded;
    font-variant: small-caps;
    font-weight: 300;
}

.category img{
    margin-left: 2rem;
    margin-right: 2rem;
}

.inner{
    list-style: none;
    margin-left: 2rem;
    margin-right: 1rem;
    background-color: rgb(241, 241, 241);
    padding: 1rem;
}

.inner li, a{
    margin-bottom: 0.5rem;
    text-decoration: underline;
    font-weight: normal;
    color: rgb(0, 65, 82);
}

.draftsEl{
    font-weight: bold;
    color: rgb(0, 88, 104);
    margin-top: 1rem;
}

.clearDrafts{
    border: rgb(82, 253, 225) solid 1px;
    padding: 5px 15px;
    color: rgb(0, 97, 114);
    background-color: rgb(212, 248, 248);
    margin-top: 1rem;
}

.removeIcon{
    width: 20px;
    margin-right: 1rem;
}

.clearDrafts img{
    margin-bottom: 10px;
}



@media (max-width: 536px) {
    .account{
        width: 100%;
        box-shadow: none;
    }
}