.home img{
    width: 100%;
}

.joinUsBtn{
    color: white;
    border: white solid 2px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 20rem;
    font-size: large;
}

.homeCard{
    margin-top: 5%;
}

.cardContent{
    padding: 5rem;
    padding-bottom: 2rem;
    padding-top: 25%;
    z-index: 20;
}

.banner{
    position: relative;
    color: white;
} 

.bannerContent1{
    position: absolute;
    bottom: 20%;
    left: 5%;
    padding: 50px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 6px 0px black ;
}

.bannerTitle{
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    font-size:3rem;
}

.bannerBody{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.5rem;
    font-stretch:ultra-expanded !important;
}


.error{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.forMoreInfo{
    color: skyblue;
    font-weight: bold;
}

.contact{
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.contact img{
    width: 25px;
    margin: 15px;
}

@media (max-width: 1200px) {
    .bannerMain{
        height: 100%;
    }

    .contact p{
        font-size: small;
        margin-bottom: 0;
    }

    .contact img{
        width: 15px;
        margin:10px;
    }    
}

@media (max-width: 900px) {

    .cardContent{
        padding-top: 30px;
        text-align: center;
    }
    
    .bannerContent1{
        bottom: 3%;
        left: 3%;
        padding: 20px;
    }

    .bannerTitle{
        font-size:1.5rem;
    }
    
    .bannerBody{
        font-size:0.5rem;
    }

    .contact p{
        font-size: xx-small;
        margin-bottom: 0;
    }

    .contact img{
        width: 10px;
        margin:5px;
    } 

    .cardContent{
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}