.loginBackground{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.loginBox{
    width: 30%;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: rgb(0, 88, 104);
    box-sizing: border-box;
}

.loginBox input{
    border: none;
    border-bottom: rgb(19, 19, 92) solid 1px;
}

.loginBox input:focus {
    box-shadow: none;
}

.formGroup{
    padding: 10px;
    margin-bottom: 30px;   
}

.loginButton{
    text-align: center;
}

.registerLink{
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}

.registerLink span{
    font-weight: bold;
}

.header{
    display: none;
}

.warning{
    color: red;
}

@media (max-width: 756px) {
    .loginBox{
        width: 100%;
        background-image: none;
        box-shadow: none;
    }
}