.login-background{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.login-box{
    width: 30%;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: rgb(0, 88, 104);
}

.login-box input{
    border: none;
    border-bottom: rgb(19, 19, 92) solid 1px;
}

.login-box input:focus {
    box-shadow: none;
}

.form-group{
    margin: 30px;   
}
.login-button{
    text-align: center;
}

.register-link{
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}

.register-link span{
    font-weight: bold;
}

.header{
    display: none;
}

.warning{
    color: red;
}

@media (max-width: 536px) {
    .login-box{
        width: 100%;
        background-image: none;
        box-shadow: none;
    }
}