.new-survey-page{
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100vh;
    background-color: white;
    margin-left: 4rem;
    margin-right: 4rem;
}

.survey-header-control{
    padding: 1rem;
    margin-left: 5rem;
}

.new-survey-form{
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: rgb(0, 131, 155);
}

.new-survey-form small{
    color: gray;
}

.drafts{
    list-style: none;
    color: rgb(0, 131, 155);
    text-decoration: underline;
}

.drafts li{
    margin: 0.5rem;
}

.save-new-survey{
    display: inline;
    width: 100%;
    background-color: rgb(186, 224, 218);
    border: none;
    color: rgb(0, 131, 155);
    padding: 10px;
    font-weight: bold;
    margin-top: 4rem;
}

.save-new-survey:disabled{
    background-color: lightgrey;
    color: white;
}

.save-new-survey:hover{
    background-color: rgb(140, 207, 209);
}

.warning{
    color: red !important;
}

@media (max-width: 536px) {
    .new-survey-form{
        padding: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    .new-survey-page{
        margin-left: 0;
        margin-right: 0;
    }

    .survey-header-control{
        padding: 0rem;
        margin-left: 1rem;
    }
}