.newSurveyPage{
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100vh;
    background-color: white;
}

.NewQuestionList{
    height: 40vh;
    overflow: scroll;
}

.surveyHeaderControl{
    padding: 1rem;
    margin-left: 5rem;
}

.newSurveyForm{
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: rgb(0, 131, 155);
}

.newSurveyForm small{
    color: gray;
}

.drafts{
    list-style: none;
    color: rgb(0, 131, 155);
    text-decoration: underline;
}

.drafts li{
    margin: 0.5rem;
}

.saveNewSurvey{
    display: inline;
    width: 100%;
    background-color: rgb(186, 224, 218);
    border: none;
    color: rgb(0, 131, 155);
    padding: 10px;
    font-weight: bold;
    margin-top: 4rem;
}

.saveNewSurvey:disabled{
    background-color: lightgrey;
    color: white;
}

.saveNewSurvey:hover{
    background-color: rgb(140, 207, 209);
}

.warning{
    color: red !important;
}

@media (max-width: 536px) {
    .newSurveyForm{
        padding: 1rem;
        margin-left: 0;
        margin-right: 0;
    }
    .surveyHeaderControl{
        padding: 0rem;
        margin-left: 1rem;
    }
}