.new-survey-form{
    padding: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: rgb(0, 131, 155);
}

.new-survey-form small{
    color: gray;
}

.add-question-btn {
    background-color: white;
    padding: 10px;
    border: rgb(0, 97, 114) solid 1px;
    color: rgb(0, 97, 114);
}

.save-new-survey{
    display: block;
    width: 100%;
    background-color: rgb(82, 253, 225);
    border: none;
    color: rgb(0, 131, 155);
    padding: 10px;
    font-weight: bold;
    margin-top: 4rem;
}

.save-new-survey:disabled{
    background-color: lightgrey;
    color: white;
}

@media (max-width: 536px) {
    .new-survey-form{
        padding: 1rem;
        margin-left: 0;
        margin-right: 0;
    }
}