.report{
    background-color: white;
    padding: 2rem;
}

.report-header-control{
    margin-bottom: 2rem;
}

.report-session li{
    display: inline;
    width: 50%;
    margin-bottom: 2rem;
    color:  gray;
    display: inline;

}

