.report{
    background-color: white;
    padding: 2rem;
}

.reportHeaderControl{
    margin-bottom: 2rem;
}

.periodSelect{
    padding: 10px;
    border: none;
    border-bottom: rgb(0, 97, 114) solid 1px;
    background-color: white;
    width: 150px;
    outline: none;
    margin: 0.5rem;
}

.chartActive{
    background-color: rgb(225, 240, 246) !important;
}

.reportSession{
    margin: 10%;
}

.reportSession li{
    display: inline;
    width: 50%;
    margin-bottom: 2rem;
    color:  gray;
    display: inline;

}

