.report{
    background-color: white;
    padding: 2rem;
}

.report-header-control{
    margin-bottom: 2rem;
}

.chart-active{
    background-color: rgb(225, 240, 246) !important;
}

.report-session{
    margin: 10%;
}

.report-session li{
    display: inline;
    width: 50%;
    margin-bottom: 2rem;
    color:  gray;
    display: inline;

}

