.registerBox{
    background-color: white;
    width: 40%;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    color: rgb(0, 88, 104);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.formGroup{
    margin: 1rem;
}

.registerBox input{
    border: none;
    border-bottom: rgb(19, 19, 92) solid 1px;
}

.registerBox input:focus {
    box-shadow: none;
}

.loginLink{
    margin-bottom: 2rem;
    text-decoration: underline;
}

.loginLink span{
    font-weight: bold;
}

.warning{
    margin-top: 5px;
    text-align: left;
    color: rgb(255, 59, 59);
    font-size: small;
}

.toLogIn{
    text-decoration: underline;
    color: darkblue;
}

@media (max-width: 900px) {
    .registerBox{
        width: 100%;
        background-image: none;
        box-shadow: none;
    }
}

