.survey-page{
    width: 100%;
    height: 100vh;
    display: block;
}

.survey-content{
    box-shadow: 0px 2px 6px 0px rgb(168, 167, 167);
    width: 70%;
    height: 95vh;
    background-color: white;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    color: gray;
}

.survey-page ul{
    list-style: none;
    height: 90%;
    overflow: auto;
}

.submit-survey{
    position: absolute;
    bottom: 2rem;
    width: 65%;
    margin-top: 2rem;
    text-align: center;
}

@media (max-width: 768px) {  

    .survey-content{
        width: 100%;
        height: fit-content;
        padding: 1rem;
    }
}